# Ambientes virtuais
.venv/
venv/
env/
__pycache__/
*.py[cod]

# Modelos e arquivos pesados (para evitar erro de 100MB no GitHub)
*.joblib
*.pkl
*.pth
data/processed/

# Pastas de IDE
.vscode/
.idea/ 